@import "../node_modules/bootstrap/";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.warehouses td {
  text-align: center;
}

.CurrentJobInfo {
  text-align: center;
  margin: 0;
  padding: 0;
}
.CurrentJobInfo *{
  margin: 0;
  padding: 0
}

/*all around application styling*/
.Application {
  color: black;
  min-height: 100vh;
  background-color: lightgray !important;
  background-image: url('./BGImage.jpg');
  background-size: cover;
}

html {
  color: black;
  max-height: 100%;
}

#root {
  color: black;
  min-height: 100vh;
}

.Application .table {
  background-color: lightgrey;
}

/*card styling*/
.card {
  background-color: lightgray !important;
  border: 3px solid blue !important;
  border-radius: 8px !important;
}

/*navbar styling*/
div .navbar {
  background-color: lightgray !important;
  border: 3px solid blue;
  border-radius: 8px !important;
}

div .navbar * {
  background-color: lightgray !important;
  border-radius: 8px !important;
}

div .navbar .btn {
  border: 3px solid blue;
  color: black
}

nav {
  margin: 0 !important;
  padding: 0 !important;
}

.nav-tabs *{
  border-right: 3px solid blue !important;
}

.mynavbar .navbar-brand:hover, a:hover{
  background-color: blue !important;
  color: white !important;
}

.navbar-brand {
  height: 40px;
  padding: 0;
  padding-right: 1% !important;
  margin:0;
  border-right: 3px solid blue !important;
}
/*-----------------*/
